[project]
name = "prs"
version = "2.5.65"
description = "Planning Referral System corporate application"
authors = [{ name = "Ashley Felton", email = "ashley.felton@dbca.wa.gov.au" }]
license = "Apache-2.0"
requires-python = ">=3.13,<4.0"
dependencies = [
  "django==5.2.5",
  "psycopg[binary,pool]==3.2.9",
  "dbca-utils==2.1.3",
  "python-dotenv==1.1.1",
  "dj-database-url==3.0.1",
  "gunicorn==23.0.0",
  "django-extensions==4.1",
  "django-crispy-forms==2.4",
  "crispy-bootstrap5==2025.6",
  "django-reversion==5.1.0",
  "django-taggit==6.1.0",
  "unidecode==1.4.0",
  "pillow==11.3.0",
  "python-magic==0.4.27",
  "lxml[html-clean]==6.0.1",
  "xmltodict==0.14.2",
  "extract-msg==0.55.0",
  "webtemplate-dbca==1.8.2",
  "geojson==3.2.0",
  "typesense==1.1.1",
  "pdfminer-six==20250506",
  "docx2txt==0.9",
  "celery==5.5.3",
  "django-celery-results==2.6.0",
  "pygeopkg==0.1.3",
  "whitenoise[brotli]==6.9.0",
  "django-crum==0.7.9",
  "sentry-sdk[django]==2.35.0",
  "redis==6.4.0",
  "xlsxwriter==3.2.5",
  "django-storages[azure]==1.14.6",
]

[dependency-groups]
dev = [
  "ipython>=9.4.0",
  "ipdb>=0.13.13",
  "mixer>=7.2.2",
  "pre-commit>=4.3.0",
  "coverage>=7.10.3",
]

[tool.ruff]
line-length = 140
indent-width = 4
extend-exclude = ["migrations"]

[tool.ruff.lint]
ignore = ["E265", "E501", "E722"]

# Reference: https://www.djlint.com/docs/configuration/
[tool.djlint]
profile = "django"
