[tool.poetry]
name = "prs"
version = "2.5.24"
description = "Planning Referral System corporate application"
authors = ["Ashley Felton <ashley.felton@dbca.wa.gov.au>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.9"
Django = "3.2.13"
psycopg2-binary = "2.9.1"
dbca-utils = "1.1.1"
django-dotenv = "1.4.2"
dj-database-url = "0.5.0"
gunicorn = "20.1.0"
django-crispy-forms = "1.14.0"
django-reversion = "4.0.2"
django-taggit = "2.1.0"
django-bootstrap-pagination = "1.7.1"
Unidecode = "1.3.4"
Pillow = "9.1.1"
python-magic = "0.4.27"
lxml = "4.9.1"
openpyxl = "3.0.10"
xmltodict = "0.13.0"
extract-msg = "0.33.0"
django-extensions = "3.1.5"
webtemplate-dbca = "1.5.1"
coverage = "4.5.1"
mixer = "6.1.3"
geojson = "2.5.0"
typesense = "0.13.1"
"pdfminer.six" = "20220524"
docx2txt = "0.8"
celery = "5.2.7"
django-celery-results = "2.3.1"
pygeopkg = "0.1.2"
whitenoise = {version = "6.2.0", extras = ["brotli"]}
django-crum = "0.7.9"

[tool.poetry.dev-dependencies]
ipython = "^7.31.1"
ipdb = "^0.13.2"

[build-system]
requires = ["poetry>=1.1.13"]
build-backend = "poetry.masonry.api"
