[tool.poetry]
name = "prs"
version = "2.5.22"
description = "Planning Referral System corporate application"
authors = ["Ashley Felton <ashley.felton@dbca.wa.gov.au>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.9"
Django = "3.2.13"
psycopg2-binary = "2.9.1"
dbca-utils = "1.1.1"
django-dotenv = "1.4.2"
dj-database-url = "0.5.0"
gunicorn = "20.1.0"
django-crispy-forms = "1.13.0"
django-reversion = "3.0.9"
django-taggit = "1.5.1"
django-bootstrap-pagination = "1.7.1"
Unidecode = "1.3.2"
Pillow = "9.0.1"
python-magic = "0.4.24"
lxml = "4.6.5"
openpyxl = "3.0.9"
xmltodict = "0.12.0"
extract-msg = "0.28.7"
django-extensions = "3.1.3"
webtemplate-dbca = "1.3.0"
coverage = "4.5.1"
mixer = "6.1.3"
django-webtest = "1.9.10"
geojson = "2.5.0"
typesense = "0.13.1"
"pdfminer.six" = "20211012"
docx2txt = "0.8"
celery = "5.2.2"
django-celery-results = "2.2.0"
pygeopkg = "0.1.2"
whitenoise = {version = "5.3.0", extras = ["brotli"]}

[tool.poetry.dev-dependencies]
ipython = "^7.31.1"
ipdb = "^0.13.2"

[build-system]
requires = ["poetry>=1.1.13"]
build-backend = "poetry.masonry.api"
