[tool.poetry]
name = "prs"
version = "2.5.54"
description = "Planning Referral System corporate application"
authors = ["Ashley Felton <ashley.felton@dbca.wa.gov.au>"]
license = "Apache-2.0"
package-mode = false

[tool.poetry.dependencies]
python = "^3.11"
django = "4.2.15"
psycopg = {version = "3.2.1", extras = ["binary", "pool"]}
dbca-utils = "2.0.2"
python-dotenv = "1.0.1"
dj-database-url = "2.2.0"
gunicorn = "22.0.0"
django-crispy-forms = "2.3"
django-reversion = "5.0.12"
django-taggit = "6.0.0"
unidecode = "1.3.8"
pillow = "10.4.0"
python-magic = "0.4.27"
lxml = {version = "5.3.0", extras = ["html-clean"]}
xmltodict = "0.13.0"
extract-msg = "0.48.7"
django-extensions = "3.2.3"
webtemplate-dbca = "1.7.1"
mixer = "7.2.2"
geojson = "3.1.0"
typesense = "0.21.0"
"pdfminer.six" = "20240706"
docx2txt = "0.8"
celery = "5.4.0"
django-celery-results = "2.5.1"
pygeopkg = "0.1.3"
whitenoise = {version = "6.7.0", extras = ["brotli"]}
django-crum = "0.7.9"
sentry-sdk = {version = "2.12.0", extras = ["django"]}
crispy-bootstrap5 = "2024.2"
redis = "5.0.8"
xlsxwriter = "3.2.0"
django-storages = {version = "1.14.4", extras = ["azure"]}

[tool.poetry.group.dev.dependencies]
ipython = "^8.26.0"
ipdb = "^0.13.13"
pre-commit = "^3.8.0"
coverage = "^7.5.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
