[tool.poetry]
name = "prs"
version = "2.5.34"
description = "Planning Referral System corporate application"
authors = ["Ashley Felton <ashley.felton@dbca.wa.gov.au>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = ">=3.10,<3.11"
django = "3.2.23"
psycopg2 = "2.9.9"
dbca-utils = "1.1.6"
python-dotenv = "1.0.0"
dj-database-url = "1.0.0"
gunicorn = "21.2.0"
django-crispy-forms = "1.14.0"
django-reversion = "5.0.4"
django-taggit = "4.0.0"
django-bootstrap-pagination = "1.7.1"
unidecode = "1.3.6"
pillow = "10.1.0"
python-magic = "0.4.27"
lxml = "4.9.1"
openpyxl = "3.0.10"
xmltodict = "0.13.0"
extract-msg = "0.39.2"
django-extensions = "3.2.3"
webtemplate-dbca = "1.5.1"
coverage = "4.5.1"
mixer = "7.2.2"
geojson = "3.0.1"
typesense = "0.15.1"
"pdfminer.six" = "20221105"
docx2txt = "0.8"
celery = "5.2.7"
django-celery-results = "2.4.0"
pygeopkg = "0.1.3"
whitenoise = {version = "6.5.0", extras = ["brotli"]}
django-crum = "0.7.9"
django-storages = {version = "1.13.2", extras = ["azure"]}
tomli = "2.0.1"
sentry-sdk = {version = "1.32.0", extras = ["django"]}

[tool.poetry.group.dev.dependencies]
ipython = "^8.10.0"
ipdb = "^0.13.11"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
