Django==1.11.7
django-extensions==1.9.7
git+https://github.com/parksandwildlife/dpaw-utils.git@0.3a16#egg=dpaw-utils
uWSGI==2.0.15
django-reversion==2.0.10
django-debug-toolbar==1.8
django-tastypie==0.14.0
django-taggit==0.22.1
django-autoslug==1.9.3  # Not in use, but needed for legacy migrations.
django-crispy-forms==1.6.1
django-sql-explorer==1.0
xlsxwriter==0.9.6  # Required for Excel export in django-sql-explorer
django-model-utils==3.0.0
django-storages==1.5.2
django-bootstrap-pagination==1.6.2
dj-static==0.0.6
Unipath==1.1
Unidecode==1.0.22
jinja2==2.9.6
Pillow==3.4.2
coverage==3.7.1
mixer==5.6.6
django-webtest==1.9.2
python-magic==0.4.13
lxml==3.7.3
django-downloadview==1.9
webtemplate-dpaw==0.4.8
openpyxl==2.2.6
xmltodict==0.10.2
shapely==1.6.4
