git+git://github.com/dbca-wa/dpaw-utils@minimal#egg=dpaw-utils
psycopg2-binary==2.7.5
Django==2.0.8
django-confy==1.0.4
django-extensions==2.1.0
gunicorn==19.9.0
jinja2==2.10
whitenoise==3.3.1
django-crispy-forms==1.7.2
webtemplate-dbca==0.5.0
django-reversion==3.0.0
django-tastypie==0.14.1
django-taggit==0.23.0
django-model-utils==3.1.2
django-storages==1.6.6
django-bootstrap-pagination==1.6.4
Unidecode==1.0.22
Pillow==5.2.0
coverage==4.5.1
mixer==6.0.1
django-webtest==1.9.3
python-magic==0.4.15
lxml==4.2.4
django-downloadview==1.9
openpyxl==2.5.5
xmltodict==0.11.0
shapely==1.6.4
raven==6.9.0
djangorestframework==3.8.2
dateparser==0.7.0