{% if object_list %}
<div id="reference-search-table" class="alert alert-danger" role="alert">
    <p>NOTE: {{ object_count }} referrals have a similar reference recorded:</p>
    <table class="table table-bordered table-sm">
        <thead>
            <th></th>
            <th>ID</th>
            <th>Reference</th>
            <th>Region(s)</th>
            <th>Type</th>
            <th>Address</th>
            <th>Description</th>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td><a href="{{ object.get_absolute_url }}">{{ object.id }}</a></td>
                <td>{{ object.reference }}</td>
                <td>{{ object.regions_str }}</td>
                <td>{{ object.type }}</td>
                <td>{{ object.address }}</td>
                <td>{{ object.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
