apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../template
nameSuffix: -harvest-email-referrals
patches:
  - path: patch.yaml
  - target:
      kind: CronJob
      name: prs-cronjob
    options:
      allowNameChange: true
    patch: |-
      - op: replace
        path: /spec/jobTemplate/spec/template/spec/containers/0/name
        value: prs-cronjob-harvest-email-referrals
