{% extends "webtemplate_dbca/base_b4.html" %}
{% load static %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/fontawesome.min.css" integrity="sha256-CaAu1oJhcLBPo4TnfEZ8fdP+O4mpoVBQ6zyZCs2x7+o=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<style>
    .footer {
        background-color: #f5f5f5;
    }
    .navbar-custom {
        background-color: #317589;
    }
    /* Change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgb(255,255,255);
    }
    /* Change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(255,255,255,.7);
    }
    /* Change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #ffffff;
    }
    /* Change the color of the navbar toggle button */
    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .custom-toggler.navbar-toggler {
      border-color: rgb(255,255,255);
    }
</style>
{% endblock %}

{% block navbar_class %}navbar fixed-top navbar-expand-md navbar-custom{% endblock %}
{% block navbar_button_class %}navbar-toggler custom-toggler{% endblock %}
{% block navbar_links %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        {% block navbar_item_extra %}{% endblock navbar_item_extra %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarSearchDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Search <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarSearchDropdown">
                <a class="dropdown-item" href="{% url 'prs_object_list' model='referrals' %}" title="Referrals">Referrals</a>
                <a class="dropdown-item" href="{% url 'prs_object_list' model='tasks' %}" title="Tasks">Tasks</a>
                <a class="dropdown-item" href="{% url 'prs_object_list' model='notes' %}" title="Notes">Notes</a>
                <a class="dropdown-item" href="{% url 'prs_object_list' model='conditions' %}" title="Conditions">Conditions</a>
                <a class="dropdown-item" href="{% url 'prs_object_list' model='records' %}" title="Records">Records</a>
                <a class="dropdown-item" href="{% url 'prs_object_list' model='locations' %}" title="Locations">Locations</a>
                <a class="dropdown-item" href="{% url 'prs_object_list' model='clearances' %}" title="Clearances">Clearances</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'prs_index_search_combined' %}" title="Search all">Search all</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'reports' %}" title="Reports">Reports</a>
        </li>

        {% block navbar_auth %}
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarAuthDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {% firstof user.get_full_name user.email %} <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarAuthDropdown">
                {% if user.is_superuser %}
                <a class="dropdown-item" href="{% url 'admin:index' %}" title="Administration">Administration</a>
                {% endif %}
                {% if prs_power_user %}
                <a class="dropdown-item" href="{% url 'tag_replace' %}" title="Tag replace">Tag replace</a>
                <div class="dropdown-divider"></div>
                {% endif %}
                {% if last_referral %}
                <a class="dropdown-item" href="{% url 'referral_detail' pk=last_referral.pk %}" title="Last referral">Last referral: {{ last_referral.pk }}</a>
                {% endif %}

                <a class="dropdown-item" href="{% url 'referral_recent' %}" title="Recent referrals">Recent referrals</a>
                <a class="dropdown-item" href="{% url 'prs_object_list' model='bookmarks' %}" title="Bookmarks">Bookmarks</a>
                <a class="dropdown-item" href="{% url 'stopped_tasks_list' %}" title="Stopped tasks">Stopped tasks</a>
                <a class="dropdown-item" href="{% url 'help_page' %}" title="Help">Help</a>
                {#<li><a class="dropdown-item" href="{% url 'logout' %}" title="Log out">Log out</a>#}
            </div>
        </li>
        <a class="btn btn-light" href="{% url 'referral_create' %}" title="Create a new referral"><strong>Create</strong></a>
        {% else %}
        <li class="nav-item">
            <a href="{% url 'login' %}">Log in</a>
        </li>
        {% endif %}
        {% endblock navbar_auth %}
    </ul>
</div><!-- #navbarSupportedContent -->
{% endblock navbar_links %}

{% block page_content %}
    {% block breadcrumb_nav %}
        {% if breadcrumb_trail %}
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {{ breadcrumb_trail|safe }}
            </ol>
        </nav>
        {% endif %}
    {% endblock breadcrumb_nav %}

    <div class="container-fluid">
        <!-- Messages  -->
        {% if messages %}
        <div class="row">
            <div class="col">
                {% for message in messages %}
                <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                    {{ message|safe }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col">
                {% block page_content_inner %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
<footer class="footer mt-auto py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <small>
                Version: {{ version_no }}
                </small>
            </div>
            <div class="col-sm">
                <small class="float-right">&copy; Department of Biodiversity, Conservation and Attractions</small>
            </div>
        </div>
    </div>
</footer>
{% endblock page_footer %}

{% block jquery_version %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
{% endblock jquery_version %}

{% block extra_js %}
<script src="{% static 'js/startswith.js' %}"></script>
{{ block.super }}
{% endblock extra_js %}
