{% extends "webtemplate_dbca/base_b4.html" %}
{% load cache %}
{% load static %}

{% block extra_style %}
{{ block.super }}
<style>
    .footer {
        background-color: #f5f5f5;
    }
</style>
{% endblock %}

{% block navbar_links %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarSearchDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Search <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarSearchDropdown">
        <a class="dropdown-item" href="{% url 'prs_object_list' model='referrals' %}" title="Referrals">Referrals</a>
        <a class="dropdown-item" href="{% url 'prs_object_list' model='tasks' %}" title="Tasks">Tasks</a>
        <a class="dropdown-item" href="{% url 'prs_object_list' model='notes' %}" title="Notes">Notes</a>
        <a class="dropdown-item" href="{% url 'prs_object_list' model='conditions' %}" title="Conditions">Conditions</a>
        <a class="dropdown-item" href="{% url 'prs_object_list' model='records' %}" title="Records">Records</a>
        <a class="dropdown-item" href="{% url 'prs_object_list' model='locations' %}" title="Locations">Locations</a>
        <a class="dropdown-item" href="{% url 'prs_object_list' model='clearances' %}" title="Clearances">Clearances</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'prs_general_search' %}" title="Search all">Search all</a>
    </li>

    <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'reports' %}" title="Reports">Reports</a>
    </li>

    {% block navbar_auth %}
    {% if user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarAuthDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {% firstof user.get_full_name user.email %} <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarAuthDropdown">
            {% if user.is_superuser %}
            <a class="dropdown-item" href="{% url 'admin:index' %}" title="Administration">Administration</a>
            {% endif %}
            {% if prs_power_user %}
            <a class="dropdown-item" href="{% url 'tag_replace' %}" title="Tag replace">Tag replace</a>
            <div class="dropdown-divider"></div>
            {% endif %}
            {% if last_referral %}
            <a class="dropdown-item" href="{% url 'referral_detail' pk=last_referral.pk %}" title="Last referral">Last referral: {{ last_referral.pk }}</a>
            {% endif %}

            <a class="dropdown-item" href="{% url 'referral_recent' %}" title="Recent referrals">Recent referrals</a>
            <a class="dropdown-item" href="{% url 'prs_object_list' model='bookmarks' %}" title="Bookmarks">Bookmarks</a>
            <a class="dropdown-item" href="{% url 'stopped_tasks_list' %}" title="Stopped tasks">Stopped tasks</a>
            <a class="dropdown-item" href="{% url 'help_page' %}" title="Help">Help</a>
            {#<li><a class="dropdown-item" href="{% url 'logout' %}" title="Log out">Log out</a>#}
        </div>
    </li>
    <a class="btn btn-light" href="{% url 'referral_create' %}" title="Create a new referral"><strong>Create</strong></a>
    {% else %}
    <li class="nav-item">
        <a href="{% url 'login' %}">Log in</a>
    </li>
    {% endif %}
    {% endblock navbar_auth %}
</ul>
{% endblock navbar_links %}

{% block page_content %}
<div class="container-fluid">
    <!-- Breadcrumbs -->
    {% if breadcrumb_trail %}
    <div class="row">
        <div class="col d-none d-sm-block">
            <ol class="breadcrumb">
                {{ breadcrumb_trail|safe }}
            </ol>
        </div>
    </div>
    {% endif %}

    <!-- Messages  -->
    {% if messages %}
    <div class="row">
        <div class="col">
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                {{ message|safe }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            {% block page_content_inner %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block page_footer %}
<footer class="footer mt-auto py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <small>
                Version: {{ version_no }}
                </small>
            </div>
            <div class="col-sm">
                <small class="float-right">&copy; Department of Biodiversity, Conservation and Attractions</small>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/startswith.js' %}"></script>
{{ block.super }}
<script type="text/javascript">
    // disable url links if user has readonly access (returns true if user is_superuser!)
    $(function() {
        var is_prs_user = true ? "{{ prs_user }}" == "True" : false
        if (!is_prs_user) {
            // Header menu items, in referral_details.html and prs_object_detail.html
            $('.is_prs_user').addClass("disabled");
            $('.is_prs_user').contents().each(function(i, item) {
                item.href="#";
            });
            // html added via models.py 'def as_row_actions()'
            $('.is_prs_user_action').each(function(i, item) {
                item.style="color:grey;";
                item.href="#";
            });
            // Delete 'related referrals' btn, in referral_details.html
            $('.is_prs_user_btn').prop('disabled', true)
            $('.is_prs_user_btn').each(function(i, item) {
                item.style="color:grey";
            });
        }
    });
</script>
{% endblock extra_js %}
