{% extends "webtemplate_dbca/base.html" %}

{% block extra_head %}
<style type="text/css">
    body {
        padding: 0px;
    }
    @media screen {
        div.page-break {display:none;}
        div.header {display:none;}
    }
    @media print {
        div.page-break  {display:block; page-break-before:always;}
    }
    @page {
        size: A4 portrait;
    }
</style>
{% endblock %}

{% block top_navbar %}
<h3>{{ site_title }}</h3>
{% endblock %}

{% block page_content %}
<h4>{% if stopped_tasks %}STOPPED TASKS{% else %}ONGOING TASKS{% endif %}</h4>
{% if object_list %}
<table id="tasks-table" class="table table-bordered table-condensed">
    <thead>
        <tr>
        {% for header in headers %}
        <th>{{ header }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>{{ object.as_row_for_index_print }}</tr>
    {% endfor %}
    </tbody>
    <tfoot></tfoot>
</table>
{% else %}
<p>There are no {% if stopped_tasks %}stopped{% else %}ongoing{% endif %} tasks assigned to you.</p>
{% endif %}
{% endblock %}
