{% extends "base_prs.html" %}
{% load static %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css" integrity="sha512-PT0RvABaDhDQugEbpNMwgYBCnGCiTZMh9yOzUsJHDgl/dMhD9yjHAwoumnUk3JydV3QTcIkNDuN40CJxik5+WQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block page_content_inner %}
<h1>{% if stopped_tasks %}STOPPED TASKS{% else %}ONGOING TASKS{% endif %}</h1>
{% if stopped_tasks %}
    <div id="stopped-tasks-div">
{% else %}
    <div id="ongoing-tasks-div">
{% endif %}
{% if object_list %}{# List of non-stopped tasks #}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed prs-object-table">
        <thead>
            <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for task in object_list %}
            <tr{% if task.is_overdue %} class="table-danger"{% endif %}>{{ task.as_row_for_site_home }}</tr>
        {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
{% else %}
    <p>There are no {% if stopped_tasks %}stopped{% else %}ongoing{% endif %} tasks assigned to you.</p>
{% endif %}
{% if stopped_tasks %}
    <p>View your <a href="{% url 'site_home' %}">ongoing tasks</a>.</p>
    <p><a href="{% url 'stopped_tasks_list' %}?print=true"><i class="fa fa-print"></i> Print-friendly view</a></p>
{% else %}
    {% if stopped_tasks_exist %}
        <p>Please note that you also have <a href="{% url 'stopped_tasks_list' %}" title="Stopped tasks">stopped tasks</a> assigned to you.</p>
    {% endif %}
    <p><a href="{% url 'site_home_print' %}"><i class="fa fa-print"></i> Print-friendly view</a></p>
{% endif %}
</div>
<br>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js" integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    // Document ready events
    $(function() {
        // Initialise the DataTable.
        var prsDataTable = $(".prs-object-table").DataTable({
            "autoWidth": false,
            "info": false,
            "ordering": true,
            "order": [[6, "asc"]],
            "paging": false,
            "responsive": true,
            "searching": false
        });
    });
</script>
{% endblock extra_js %}
