apiVersion: apps/v1
kind: Deployment
metadata:
  name: prs-deployment
spec:
  template:
    spec:
      containers:
        - name: prs
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: prs-env-prod
