{% extends "base_prs.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
{{ block.super }}
{{ form.media }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
{% endblock %}

{% block page_content_inner %}
<h1>{{ title }}</h1>
{% if form.errors %}
<div class="alert alert-danger" role="alert">Please correct the error(s) below</div>
{% endif %}
{% crispy form %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/tinymce/4.6.4/tinymce.min.js"></script>
<script type="text/javascript">
    // Document ready events:
    $(function() {
        // Initialise datepicker widgets
        $(".dateinput").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true
        });
    });

    $('#hint_id_proposed_condition_html').after('<button class="btn btn-primary" id="id-copy-proposed" type="button">Copy Proposed Condition</button>');

    // copy proposed condition text to approved condition text area section
    $("#id-copy-proposed").click(function() {
        var c=$('#id_proposed_condition_html_ifr').contents().find('body').contents().clone();

        // there is a default tinymce relate ,.br tag within <p></p>, needs to be removed, else we get a blank line
        if($('#id_condition_html_ifr').contents().find('body p').contents()['length'] == 1) {
            $('#id_condition_html_ifr').contents().find('body p').remove();
        }
        $('#id_condition_html_ifr').contents().find('body').append(c);
    });

    // copy model field text to proposed itext area section
    $("#id_model_condition").change(function() {
        var selected_text = $('#id_model_condition option:selected').text()
        // there is a default tinymce relate ,.br tag within <p></p>, needs to be removed, else we get a blank line
        if($('#id_proposed_condition_html_ifr').contents().find('body p').contents()['length'] == 1) {
            $('#id_proposed_condition_html_ifr').contents().find('body p').remove();
        }
        $('#id_proposed_condition_html_ifr').contents().find('body').append('<p>' + selected_text + '</p>');
    });

    // Textarea inputs (ID ends with '_html'): alter the CSS of the parent div.
    // FIXME: work out how to do this using crispy_forms
    $("textarea[id$='_html']").each(function() {
        $(this).parent('div').attr("class", "controls col-xs-12 col-sm-8 col-md-9 col-lg-10");
    });
    // Initialise a TinyMCE widget on all these textareas.
    tinymce.init({
        selector: "textarea[id$='_html']",
        plugins: ['advlist anchor autolink autoresize code link lists paste table'],
        autoresize_max_height: 480,
        autoresize_bottom_margin: 0,
        menubar: false,
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table link',
        statusbar: false
    });
</script>
{% endblock %}
