{% extends "base_prs.html" %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css"
          integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/3.0.2/Control.FullScreen.min.css"
          integrity="sha512-icRYRbqvwyLFADCizHy+7d4vVNnzF92F0ADsgIlPU2eegXZJ9iHtF1BMi7xdgo1lSyd0nsyI5Lvxhhlxx7WxZg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/4.0.0/leaflet-search.min.css"
          integrity="sha512-+o26nsM883F01UlBWY09KgjDn7o1rgGFi1a+lX1zI7m0I2iIh4rckpQSKVnukvn8DKsb0A9hZHoUY7lBkvLdfA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"
          integrity="sha256-XzD3RpaHPv7lzX9qt+2n1j5cWj48O24KsgaGYpKN8x8="
          crossorigin="anonymous" />
{% endblock %}
{% block page_content_inner %}
    <h1>{{ title }}</h1>
    {% if address %}
        <p>
            <strong>Referral address: {{ address }}</strong>
        </p>
    {% endif %}
    <p>
        Choose location(s) from cadastre to add to this referral, or draw location(s):
        <div id="map"></div>
        <br>
        <p>Selected locations from cadastre:</p>
        <ol id="selected_locations">
        </ol>
        <form id="locations_form" action = "" method="post">
            {% csrf_token %}
            <input type="submit"
                   name="save"
                   value="Save"
                   class="btn btn-primary btn-lg"
                   id="submit-id-save">
            <input type="submit"
                   name="cancel"
                   value="Cancel"
                   class="btn btn-primary"
                   id="submit-id-cancel">
        </form>
    {% endblock %}
    {% block extra_js %}
        {{ block.super }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"
                integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/3.0.2/Control.FullScreen.min.js"
                integrity="sha512-G3uVfdWq1gdYQ0tfaN8APmD3UBQCv0Am3csZtRdaNbCBzNgh57yu7MhgrXozjeflGsRapDpBVdrKCQahT99p0Q=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/4.0.0/leaflet-search.min.js"
                integrity="sha512-nvy2tht2GE/ReEeu0Zu7/Y1IgKTTrX1r1MaROtD1HDol5WUvw7Ih29qA6JCNCgYURzPcBqaSv12ZnNS68Eaq6Q=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"
                integrity="sha256-siofc4Uwjlra3YWkwthOn8Uj69cNN4aMug/iOHNiRgs="
                crossorigin="anonymous"></script>
        <script src="{% static 'js/wellknown.js' %}"></script>
        <script src="{% static 'js/referral_map.js' %}"></script>
        <script>
    {% if geojson_locations %}
        // If locations exist on the parent referral, zoom to their bounds.
        const geojsonFeatures = JSON.parse('{{ geojson_locations|escapejs }}');
        const locationsLayer = L.geoJson(null, {
            style: {"color": "#ff0000", "weight": 5}
        });
        locationsLayer.addData(geojsonFeatures);
        map.fitBounds(locationsLayer.getBounds());
    {% endif %}
        </script>
        <script src="{% static 'js/location_create.js' %}"></script>
    {% endblock %}
