{% extends "base_prs.html" %}
{% load static bootstrap_pagination %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css" integrity="sha512-PT0RvABaDhDQugEbpNMwgYBCnGCiTZMh9yOzUsJHDgl/dMhD9yjHAwoumnUk3JydV3QTcIkNDuN40CJxik5+WQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block page_content_inner %}
<h1>{{ object_type_plural|upper }}</h1>
<!-- Search bar -->
<form action="" method="get">
    <div class="row">
        <div class="hidden-xs col-sm-1">
            <label for="search_field">Search:</label>
        </div>
        <div class="col-xs-12 col-sm-11 col-md-8">
            <input id="search_field" type="text" class="form-control" name="q" placeholder="Search all text..." value="{{ query_string }}">
        </div>
    </div>
</form>
<hr>
<!-- Number of results returned -->
<h3>Search results:</h3>
{% if object_list %}
    {% if page_obj.has_other_pages %}{% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" %}{% endif %}
    {% block object_list_table %}
    <table class="table table-striped table-bordered prs-object-table">
        <thead>
            <tr>
            {% for header in object_list_headers %}
                <th>{{ header }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>{{ object.as_row }}</tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock object_list_table %}
    {% if page_obj.has_other_pages %}{% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" %}{% endif %}
{% endif %}
<br>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js" integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" type="text/css" href="" />
<script type="text/javascript">
    // Document ready events
    $(function() {
        // Initialise the DataTable.
        $(".prs-object-table").DataTable({
            "autoWidth": false,
            "info": false,
            "ordering": true,
            "paging": false,
            "responsive": true,
            "searching": false
        });
    });
</script>
{% endblock extra_js %}
