{% extends "base_prs.html" %}
{% load cache %}
{% load static %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.9/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/prs_datatables.css' %}" />
{% if geojson_locations %}
<link rel="stylesheet" href="//api.mapbox.com/mapbox.js/v2.2.1/mapbox.css" />
<link rel="stylesheet" href="{% static 'css/leaflet-search.css' %}" />
{% endif %}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css">
<link rel="stylesheet" href="{% static 'css/prs_dropzone.css' %}" />
<style>
    #map { width:100%; height: 480px;}
</style>
{% endblock extra_style %}

{% if object_tools_template %}
{% block sidebar_content %}{% include object_tools_template %}{% endblock %}
{% endif %}

{% block navbar_item_extra %}
{% if object_type == 'task' %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="taskDetailNavbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Task <span class="caret"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="taskDetailNavbarDropdown">
        {% if prs_user %}
            <a class="dropdown-item" href="{% url 'task_action' pk=object.pk action='update' %}">Update task</a>
            {% if task_stopped %}
                <a class="dropdown-item" href="{% url 'task_action' pk=object.pk action='start' %}">Start task</a>
            {% else %}
                <a class="dropdown-item" href="{% url 'task_action' pk=object.pk action='stop' %}">Stop task</a>
            {% endif %}
            {% if can_complete %}
                <a class="dropdown-item" href="{% url 'task_action' pk=object.pk action='complete' %}">Complete task</a>
            {% else %}
                <a class="dropdown-item" href="#" id="id_complete" title="{{can_complete_msg}}" style="color:grey">Complete task</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'task_action' pk=object.pk action='cancel' %}">Cancel task</a>
            <a class="dropdown-item" href="{% url 'task_action' pk=object.pk action='reassign' %}">Reassign task</a>
            <a class="dropdown-item" href="{% url 'task_action' pk=object.pk action='inherit' %}">Inherit task</a>
            <a class="dropdown-item" href="{% url 'referral_create_child_related' pk=object.referral.pk id=object.id model='task' type='addnewrecord' %}">Add a new record to this task</a>
            <a class="dropdown-item" href="{% url 'referral_create_child_related' pk=object.referral.pk id=object.id model='task' type='addrecord' %}">Add existing record(s) to this task</a>
            <a class="dropdown-item" href="{% url 'referral_create_child_related' pk=object.referral.pk id=object.id model='task' type='addnewnote' %}">Add a new note to this task</a>
            <a class="dropdown-item" href="{% url 'referral_create_child_related' pk=object.referral.pk id=object.id model='task' type='addnote' %}">Add existing note(s) to this task</a>
            <a class="dropdown-item" href="{% url 'prs_object_delete' model='tasks' pk=object.pk %}">Delete task</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'prs_object_history' model='tasks' pk=object.pk %}">History</a>
    </div>
</li>
{% elif object_type == 'note' %}
{% cache 600 note_navbar_links object.pk request.user.username %}
<li class="dropdown">
    <a id="id-menu-note" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Note <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <a href="{% url 'prs_object_update' model='notes' pk=object.id %}">Update note</a>
        <a href="{% url 'prs_object_delete' model='notes' pk=object.id %}">Delete note</a>
        <a href="{% url 'referral_create_child_related' pk=object.referral.id id=object.id model='note' type='addnewrecord' %}">Add a new record to this note</a>
        <a href="{% url 'referral_create_child_related' pk=object.referral.id id=object.id model='note' type='addrecord' %}">Add existing record(s) to this note</a>
        <li><a href="{% url 'prs_object_history' model='notes' pk=object.id %}">History</a>
    </ul>
</li>
{% endcache %}
{% elif object_type == 'record' %}
{% cache 600 record_navbar_links object.pk request.user.username %}
<li class="dropdown">
    <a id="id-menu-record" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Record <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <a href="{% url 'prs_object_update' model='records' pk=object.id %}">Update record</a>
        <a href="{% url 'prs_object_delete' model='records' pk=object.id %}">Delete record</a>
        <a href="{% url 'referral_create_child_related' pk=object.referral.id id=object.id model='record' type='addnewnote' %}">Add a new note to this record</a>
        <a href="{% url 'referral_create_child_related' pk=object.referral.id id=object.id model='record' type='addnote' %}">Add existing note(s) to this record</a>
        <li><a href="{% url 'prs_object_history' model='records' pk=object.id %}">History</a>
    </ul>
</li>
{% endcache %}
{% elif object_type == 'location' %}
{% cache 600 location_navbar_links object.pk request.user.username %}
<li class="dropdown">
    <a id="id-menu-location" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Location <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <a href="{% url 'prs_object_update' model='locations' pk=object.id %}">Update location</a>
        <a href="{% url 'prs_object_delete' model='locations' pk=object.id %}">Delete location</a>
        <li><a href="{% url 'prs_object_history' model='locations' pk=object.id %}">History</a>
    </ul>
</li>
{% endcache %}
{% elif object_type == 'condition' %}
{% cache 600 condition_navbar_links object.pk request.user.username %}
<li class="dropdown">
    <a id="id-menu-condition" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Condition <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <a href="{% url 'prs_object_update' model='conditions' pk=object.id %}">Update condition</a>
        <a href="{% url 'prs_object_delete' model='conditions' pk=object.id %}">Delete condition</a>
        <a href="{% url 'condition_clearance_add' pk=object.id %}">Add a clearance request</a>
        <li><a href="{% url 'prs_object_history' model='conditions' pk=object.id %}">History</a>
    </ul>
</li>
{% endcache %}
{% endif %}
{% endblock %}

{% block page_content_inner %}
<div class="alert alert-danger hidden" id="complete_msg">{{can_complete_msg}}</div>
<div id="object-details">

<!-- Object details -->
<h1>{{ page_heading }}</h1>
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <table class="table table-striped table-bordered table-condensed" style="width:auto;">
                <tbody>
                    {{ object.as_tbody|safe }}
                </tbody>
            </table>
        </div>

        {% if object_type == 'record' %}
        <div class="col-sm-12 col-md-3">
            <div id="file-uploader">
                <form action="{% url 'record_upload' pk=object.pk %}" class="dropzone" id="id-record-dropzone">
                    <div class="dz-message">Drop files here or click to upload.</div>
                </form>
            </div>
        </div>
        {% endif %}

    </div><!-- /.row -->

</div>
<br>

<!-- Object related items -->
{% if related_items %}
<div id="object-related-items">
    <h2>{{ related_items_title }}</h2>
    <table class="table table-striped table-bordered table-condensed related-objects-table" id="related-objects-table">
        <thead>
            <tr>
            {% for header in related_items_headers %}
                <th>{{ header }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for object, dp in related_items %}
            <tr>{{ object.as_row|safe }}<td>{{ dp|default_if_none:"" }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
<br>
{% endif %}
<!-- Object related records -->
{% if related_records %}
<div id="object-related-records">
    <h2>Related records:</h2>
    <table class="table table-striped table-bordered table-condensed related-objects-table" id="related-records-table">
        <thead>
            <tr>
            {% for header in record_headers %}
                <th>{{ header }}</th>
            {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in related_records %}
            <tr>{{ record.as_row }}{{ record.as_row_actions }}</tr>
            {% endfor %}
        </tbody>
    </table>
<br>
{% endif %}
<!-- Object related tasks -->
{% if related_tasks %}
<div id="object-related-tasks">
    <h2>Related tasks:</h2>
    <table class="table table-striped table-bordered table-condensed related-objects-table" id="related-tasks-table">
        <thead>
            <tr>
            {% for header in task_headers %}
                <th>{{ header }}</th>
            {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in related_tasks %}
            <tr>{{ task.as_row }}{{ task.as_row_actions }}</tr>
            {% endfor %}
        </tbody>
    </table>
<br>
{% endif %}
<!-- Object related notes -->
{% if related_notes %}
<div id="object-related-notes">
    <h2>Related notes:</h2>
    <table class="table table-striped table-bordered table-condensed related-objects-table" id="related-notes-table">
        <thead>
            <tr>
            {% for header in note_headers %}
                <th>{{ header }}</th>
            {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for note in related_notes %}
            <tr>{{ note.as_row }}{{ note.as_row_actions }}</tr>
            {% endfor %}
        </tbody>
    </table>
<br>
{% endif %}

{% if geojson_locations %}
<div class="row">
    <div class="col-xs-12">
        <div id="map"></div>
    </div><!-- /.col-xs-12-->
</div>
{% endif %}
{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.9/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.9/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="{% static 'js/datetime-moment.js' %}"></script>
{% if geojson_locations %}
<script src="//api.mapbox.com/mapbox.js/v2.2.2/mapbox.js"></script>
<script src="{% static 'js/leaflet-search.min.js' %}"></script>
<script>
    // Set global variables (needs to happen before loading referral_map.js)
    var geoserver_wms_url = '{{ geoserver_wms_url }}';
    var geoserver_wfs_url = '{{ geoserver_wfs_url }}';
</script>
<script src="{% static 'js/referral_map.js' %}"></script>
<script>
    // Add Location polygons to the map display and zoom to their bounds.
    var geojsonFeatures = JSON.parse('{{ geojson_locations|escapejs }}');
    var locationsLayer = L.geoJson(null, {
        style: {"color": "#ff0000", "weight": 5}
    }).addTo(map);
    locationsLayer.addData(geojsonFeatures);
    map.fitBounds(locationsLayer.getBounds());
    locationsLayer.addTo(map);
</script>
{% endif %}
<script>
    // Configure file upload Dropzone element - needs to happen outside of $(function(){}).
    Dropzone.options.idRecordDropzone = {
        paramName: "file",
        acceptedFiles: ".tif,.jpg,.jpeg,.gif,.png,.doc,.docx,.xls,.xlsx,.csv,.pdf,.txt,.zip,.msg,.qgs",
        timeout: 600000,  // 10 minutes is ms.
        maxFilesize: 2048,  // 2 GB file size limit.
        init: function() {
            this.on("uploadprogress", function(file, progress) {
                console.log("File progress", progress);
            });
            this.on("queuecomplete", function(file) {
                // Reload the current page on completed upload(s).
                location.assign("{% url 'prs_object_detail' model='records' pk=object.pk %}");
            });
        },
    };
</script>
<script type="text/javascript" charset="utf-8">
    $("#id_complete").click(function() {
       $('#complete_msg').removeClass('hidden');
    });
</script>
<script type="text/javascript">
    // Document ready events
    $(function() {
        // Hide the Dropzone element if not a PRS user.
        var is_prs_user = true ? "{{ prs_user }}" == "True" : false
        if (!is_prs_user) {
            $("#file-uploader").hide();
        };
        // Initialise the DataTable.
        $.fn.dataTable.moment("dd MMM YYYY", "en-AU");
        var dataTable = $(".related-objects-table").DataTable({
            "autoWidth": false,
            "info": false,
            "ordering": true,
            "paging": false,
            "responsive": true,
            "searching": false
        });
    });
</script>
{% endblock extra_js %}
