{% extends "base_prs.html" %}
{% load static %}
{% block extra_style %}
    {{ block.super }}
    {% if geojson_locations %}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css"
              integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/3.0.2/Control.FullScreen.min.css"
              integrity="sha512-icRYRbqvwyLFADCizHy+7d4vVNnzF92F0ADsgIlPU2eegXZJ9iHtF1BMi7xdgo1lSyd0nsyI5Lvxhhlxx7WxZg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/4.0.0/leaflet-search.min.css"
              integrity="sha512-+o26nsM883F01UlBWY09KgjDn7o1rgGFi1a+lX1zI7m0I2iIh4rckpQSKVnukvn8DKsb0A9hZHoUY7lBkvLdfA=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
    {% endif %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/basic.min.css"
          integrity="sha512-MeagJSJBgWB9n+Sggsr/vKMRFJWs+OUphiDV7TJiYu+TNQD9RtVJaPDYP8hA/PAjwRnkdvU+NsTncYTKlltgiw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/prs_dropzone_5.7.1.css' %}" />
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.8/date-1.5.1/datatables.min.css"
          rel="stylesheet">
{% endblock extra_style %}
{% block navbar_item_extra %}
    <li class="nav-item dropdown">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               id="referralDetailNavbarDropdown"
               data-bs-toggle="dropdown"
               role="button"
               aria-expanded="false">
                Referral <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right"
                 aria-labelledby="referralDetailNavbarDropdown">
                {% if prs_user %}
                    <a class="dropdown-item"
                       href="{% url 'referral_create_child' pk=referral.pk model='note' %}"
                       title="Add note">Add a note</a>
                    <a class="dropdown-item"
                       href="{% url 'referral_create_child' pk=referral.pk model='record' %}"
                       title="Add record">Add a record</a>
                    <a class="dropdown-item"
                       href="{% url 'referral_create_child' pk=referral.pk model='task' %}"
                       title="Add task">Add a task</a>
                    <a class="dropdown-item"
                       href="{% url 'referral_create_child' pk=referral.pk model='condition' %}"
                       title="Add condition">Add a condition</a>
                    {% if condition_count %}
                        <a class="dropdown-item"
                           href="{% url 'referral_create_child_type' pk=referral.pk model='task' type='clearance' %}"
                           title="Add request">Add a clearance request</a>
                    {% endif %}
                    <a class="dropdown-item"
                       href="{% url 'referral_location_create' pk=referral.pk %}"
                       title="Create location">Create location(s)</a>
                    <a class="dropdown-item"
                       href="{% url 'referral_shapefile_upload' pk=referral.pk %}"
                       title="Upload shapefile">Upload shapefile</a>
                    <a class="dropdown-item"
                       href="{% url 'referral_relate' pk=referral.pk %}"
                       title="Add related">Add a related referral</a>
                    <a class="dropdown-item"
                       href="{% url 'prs_object_update' model='referral' pk=referral.pk %}"
                       title="Edit referral">Edit this referral</a>
                {% endif %}
                {% if geojson_locations %}
                    <a class="dropdown-item"
                       href="{% url 'referral_location_download' pk=referral.pk %}?format=gpkg"
                       title="Generate Geopackage">Generate Geopackage</a>
                    <a class="dropdown-item"
                       href="{% url 'referral_location_download' pk=referral.pk %}?format=json"
                       title="Generate GeoJSON">Generate GeoJSON</a>
                {% endif %}
                {% if prs_power_user %}
                    <a class="dropdown-item"
                       href="{% url 'referral_delete' pk=referral.pk %}"
                       title="Delete referral">Delete referral</a>
                {% endif %}
                {% if prs_user %}
                    {% if bookmark %}
                        <a class="dropdown-item"
                           href="{% url 'prs_object_delete' model='bookmark' pk=bookmark.pk %}"
                           title="Remove bookmark">Remove bookmark</a>
                    {% else %}
                        <a class="dropdown-item"
                           href="{% url 'referral_create_child' pk=referral.pk model='bookmark' %}"
                           title="Add bookmark">Bookmark this referral</a>
                    {% endif %}
                {% endif %}
                <a class="dropdown-item"
                   href="{% url 'referral_detail' pk=referral.pk %}?print=notes"
                   title="Print notes">Print all notes</a>
                <a class="dropdown-item"
                   href="{% url 'prs_object_history' model='referral' pk=referral.pk %}"
                   title="Referral history">Referral change history</a>
            </div>
        </li>
    </li>
{% endblock navbar_item_extra %}
{% block page_content_inner %}
    <!-- Tags and related referrals pane -->
    {% if not object.is_deleted %}
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-sm-12 col-md-8">
                {% if object.related_refs.all %}
                    <div class="alert alert-info">
                        <h4>Related referrals:</h4>
                        {% for ref in object.related_refs.all %}
                            <form method="post"
                                  action="{% url 'referral_relate' pk=referral.id %}?ref_pk={{ ref.pk }}&delete=">
                                {% csrf_token %}
                                <a href="{% url 'referral_detail' pk=ref.pk %}" class="tooltip-help">
                                    {{ ref.type }}, ref. {{ ref.reference }} (referral ID {{ ref.pk }})
                                </a>
                                {% if prs_user %}
                                    <button type="submit" class="btn">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                {% endif %}
                            </form>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="alert alert-warning">
                    {% if object.tags.all %}
                        <h4>Key issues:</h4>
                        {% for tag in object.tags.all %}
                            <a href="{% url 'referral_tagged' slug=tag.slug %}"><span class="label label-primary">{{ tag.name }}</span></a>
                            {% if forloop.last %}
                            {% else %}
                                ,
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    No issues recorded</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Referral details table -->
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div id="referral-details-table">
                <table class="table table-striped table-bordered table-condensed">
                    <tbody>
                        {{ object.as_tbody }}
                    </tbody>
                </table>
                <br>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            {% if prs_user %}
                <div id="file-uploader">
                    <form action="{% url 'referral_record_upload' pk=object.pk %}"
                          class="dropzone"
                          id="id_referral_dropzone">
                        <div class="dz-message">Drop files here or click to upload.</div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col">
            <!-- Navigation tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link{% if rel_model == 'tasks' %} active{% endif %}"
                       id="tasks-tab"
                       data-bs-toggle="tab"
                       href="#tab_tasks"
                       aria-controls="tab_tasks"
                       aria-selected="{% if rel_model == 'tasks' %}true{% else %}false{% endif %}">
                        {% if task_count %}
                            <strong>Tasks ({{ task_count }})</strong>
                        {% else %}
                            Tasks
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if rel_model == 'notes' %} active{% endif %}"
                       id="notes-tab"
                       data-bs-toggle="tab"
                       href="#tab_notes"
                       aria-controls="tab_notes"
                       aria-selected="{% if rel_model == 'notes' %}true{% else %}false{% endif %}">
                        {% if note_count %}
                            <strong>Notes ({{ note_count }})</strong>
                        {% else %}
                            Notes
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if rel_model == 'records' %} active{% endif %}"
                       id="records-tab"
                       data-bs-toggle="tab"
                       href="#tab_records"
                       aria-controls="tab_records"
                       aria-selected="{% if rel_model == 'records' %}true{% else %}false{% endif %}">
                        {% if record_count %}
                            <strong>Records ({{ record_count }})</strong>
                        {% else %}
                            Records
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if rel_model == 'locations' %} active{% endif %}"
                       id="locations-tab"
                       data-bs-toggle="tab"
                       href="#tab_locations"
                       aria-controls="tab_locations"
                       aria-selected="{% if rel_model == 'locations' %}true{% else %}false{% endif %}">
                        {% if location_count %}
                            <strong>Locations ({{ location_count }})</strong>
                        {% else %}
                            Locations
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if rel_model == 'conditions' %} active{% endif %}"
                       id="conditions-tab"
                       data-bs-toggle="tab"
                       href="#tab_conditions"
                       aria-controls="tab_conditions"
                       aria-selected="{% if rel_model == 'conditions' %}true{% else %}false{% endif %}">
                        {% if condition_count %}
                            <strong>Conditions ({{ condition_count }})</strong>
                        {% else %}
                            Conditions
                        {% endif %}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane{% if rel_model == 'tasks' %} active{% endif %}"
                     id="tab_tasks"
                     role="tabpanel"
                     aria-labelledby="tasks-tab">{{ tab_task }}</div>
                <div class="tab-pane{% if rel_model == 'notes' %} active{% endif %}"
                     id="tab_notes"
                     role="tabpanel"
                     aria-labelledby="notes-tab">{{ tab_note }}</div>
                <div class="tab-pane{% if rel_model == 'records' %} active{% endif %}"
                     id="tab_records"
                     role="tabpanel"
                     aria-labelledby="records-tab">{{ tab_record }}</div>
                <div class="tab-pane{% if rel_model == 'locations' %} active{% endif %}"
                     id="tab_locations"
                     role="tabpanel"
                     aria-labelledby="locations-tab">{{ tab_location }}</div>
                <div class="tab-pane{% if rel_model == 'conditions' %} active{% endif %}"
                     id="tab_conditions"
                     role="tabpanel"
                     aria-labelledby="conditions-tab">{{ tab_condition }}</div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{% endif %}
{% if geojson_locations %}
    <hr>
    <div class="row">
        <div class="col">
            <p>
                <button class="btn btn-primary"
                        role="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#id_collapseMap"
                        aria-expanded="true"
                        aria-controls="id_collapseMap">Show/hide locations</button>
            </p>
            <div class="collapse show" id="id_collapseMap">
                <div class="card card-body" id="map"></div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock page_content_inner %}
{% block extra_js %}
    {{ block.super }}
    {% if geojson_locations %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"
                integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/3.0.2/Control.FullScreen.min.js"
                integrity="sha512-G3uVfdWq1gdYQ0tfaN8APmD3UBQCv0Am3csZtRdaNbCBzNgh57yu7MhgrXozjeflGsRapDpBVdrKCQahT99p0Q=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/4.0.0/leaflet-search.min.js"
                integrity="sha512-nvy2tht2GE/ReEeu0Zu7/Y1IgKTTrX1r1MaROtD1HDol5WUvw7Ih29qA6JCNCgYURzPcBqaSv12ZnNS68Eaq6Q=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="{% static 'js/referral_map.js' %}"></script>
        <script>
          // Add Location polygons to the map display and zoom to their bounds.
          const geojsonFeatures = JSON.parse('{{ geojson_locations|escapejs }}');
          const locationsLayer = L.geoJson(null, {
            style: {"color": "#ff0000", "weight": 5}
          }).addTo(map);
          locationsLayer.addData(geojsonFeatures);
          map.fitBounds(locationsLayer.getBounds());
          locationsLayer.addTo(map);
          // Click event for the map (PRS referrals popup).
          map.on('click', clickMapPopup);
        </script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"
            integrity="sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.8/date-1.5.1/datatables.min.js"></script>
    <script type="text/javascript">
      // Configure file upload Dropzone element - needs to happen outside of $(function(){}).
      Dropzone.options.idReferralDropzone = {
        paramName: "file",
        acceptedFiles: ".tif,.jpg,.jpeg,.gif,.png,.doc,.docx,.xls,.xlsx,.csv,.pdf,.txt,.zip,.msg,.qgs",
        timeout: 600000,  // 10 minutes in ms.
        maxFilesize: 2048,  // 2 GB file size limit.
        init: function() {
          this.on("uploadprogress", function(file, progress) {
            console.log("File progress", progress);
          });
          this.on("success", function(file, response) {
            // Reload the current window at the returned URL.
            location.assign(response.object.redirect_url);
          });
        },
      };
      // Document ready events
      $(function() {
        // Initialise all DataTables.
        $(".prs-object-table").each(function(idx) {
          $(this).DataTable({
            "autoWidth": false,
            "info": false,
            "ordering": true,
            "order": [],
            "paging": false,
            "responsive": true,
            "searching": false
          });
        });
      });
    </script>
{% endblock extra_js %}
