{% extends "base_prs.html" %}
{% load static %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" integrity="sha512-1xoFisiGdy9nvho8EgXuXvnpR5GAMSjFwp40gSRE3NwdUdIMIKuPa7bqoUhLD0O/5tPNhteAsE5XyyMi5reQVA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.6.0/Control.FullScreen.css" integrity="sha256-RTALnHN76PJ32RJx2mxggy+RUt9TIRV+mfPLSLbI75A=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{% static 'css/leaflet-search.min.css' %}" />
<style>
    #map {
        position: absolute;
        top: 76px;
        bottom: 0;
        width: 100%;
    }
</style>
{% endblock extra_style %}

{% block breadcrumb_nav %}{% endblock %}
{% block page_content_container_extracss %} p-0{% endblock %}

{% block page_content_outer %}
<div class="row m-0 p-0">
    <div class="col m-0 p-0">
        <div id="map"></div>
    </div>
</div>
{% endblock page_content_outer %}

{% block page_footer %}{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js" integrity="sha512-SeiQaaDh73yrb56sTW/RgVdi/mMqNeM2oBwubFHagc5BkixSpP1fvqF47mKzPGWYSSy4RwbBunrJBQ4Co8fRWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.6.0/Control.FullScreen.min.js" integrity="sha256-6H5xWuqlbGtfk8UL9eMYmp14brCbCw1ZZialT8fHLRE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/3.0.2/leaflet-search.min.js" integrity="sha512-lmt2nQGwuhA/7xEG4KjOuzy+kBQVOgpBNFxJR2yWp8J57H8nYxWC8J7Y5woDbqBBpBVHHLbFEi503u5K49KcOA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/referral_map.js' %}"></script>
<script>
    // Remove the lot filter control.
    lotFilter.remove();
    // Change default layers.
    map.addLayer(waCoast);
    map.removeLayer(cadastre);
    map.addLayer(prsLocations)
    map.setView([-31, 118], 4);
</script>
{% endblock extra_js %}
