{% extends "base_prs.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
{% endblock %}

{% block page_content_inner %}
<h1>{{ title }}</h1>
{% if form.errors %}
<div class="alert alert-danger" role="alert">Please correct the error(s) below</div>
{% endif %}
<div id="reference_search" style="width:70%;"></div>
{% crispy form %}

<!-- Referral Types modal -->
<div id="refTypeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="refTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="refTypemodalLabel">Referral types (definitions)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include "referral/referral_type_modal.html" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<script type="text/javascript">
    // Initialise popovers.
    $("[data-toggle=popover]").popover({container: "body"});

    // Define a function to call another function after a timeout.
    var delay = function(){
      var timer = 0;
      return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
      };
    }();

    // Define a function to show/hide a DOM element (list of referrals).
    var matchedReferrals = function() {
        var ref = $('#id_reference').val()
        if (ref.length > 0) {  // Not an empty string.
            $("#reference_search").insertAfter('#div_id_reference');
            $("#reference_search").html("&nbsp;").load("{% url 'referral_reference_search' %}?q=" + ref);
        } else {
            $("#reference_search").hide();
        }
    };

    // Document ready events:
    $(function() {
        // Initialise datepicker widgets
        $(".dateinput").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true
        });

        // Watch the reference field for input, only show matches after 1 second.
        $('#id_reference').keyup(function() {
            delay(function() {matchedReferrals()}, 1000);
        });

        // Replace a DOM element with a button for a modal popup.
        $("label[for='id_type']").html("<button type='button' class='btn btn-primary' data-toggle='modal' data-target='#refTypeModal'><i class='far fa-question-circle'></i> Referral type</button>");

    });
</script>
{% endblock %}
