<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <td>Clearing permit application</td>
            <td>Request (usually from Native Vegetation Conservation Branch) for advice related to a clearing permit application.</td>
        </tr>
        <tr>
            <td>Development application</td>
            <td>Application for planning approval, application to use or develop land, a proposal that does not clearly fall into one of the categories below.</td>
        </tr>
        <tr>
            <td>Drain/pump/take water, watercourse works
            <td>Notice of intent to drain or pump water, licence to take water, permit to undertake works on watercourses.</td>
        </tr>
        <tr>
            <td>Extractive industry / mining</td>
            <td>Application for extractive industry license, mining tenement.</td>
        </tr>
        <tr>
            <td>Fenceline / firebreak</td>
            <td>Applications or referrals related to modifying boundaries (installing/repairing fences, firebreaks, etc).</td>
        </tr>
        <tr>
            <td>Greater Bunbury Region Scheme amendment</td>
            <td>Greater Bunbury Region Scheme amendment or lifting of urban deferred status.</td>
        </tr>
        <tr>
            <td>General / pre-referral enquiry</td>
            <td>Enquiry regarding the planning, use or development of land  where the DEC Region has not received a formal request for advice (yet).</td>
        </tr>
        <tr>
            <td>Land tenure change</td>
            <td>Purchase of Crown land, addition to conservation estate, excision, leases.</td>
        </tr>
        <tr>
            <td>Management plan / technical report</td>
            <td>Management plan, technical report, water management plan (excluding subdivision clearance material, which should be input against the relevant subdivision proposal in SRS).</td>
        </tr>
        <tr>
            <td>Metropolitan Region Scheme amendment</td>
            <td>Metropolitan Region Scheme amendment or lifting of urban deferred status.</td>
        </tr>
        <tr>
            <td>Pastoral lease permit to diversify</td>
            <td>Pastoral lease permit required by the Land Administration Act 1997.</td>
        </tr>
        <tr>
            <td>Planning scheme / amendment</td>
            <td>Local planning scheme, district planning scheme, town planning scheme, redevelopment scheme, master plan (e.g. HVWRP master plan) and amendments to these, rezoning, interim development order, special control area.</td>
        <tr>
            <td>Policy</td>
            <td>Policy prepared by State or local government usually, relating to the planning, use or development of land or the environment.</td>
        </tr>
        <tr>
            <td>Peel Region Scheme amendment</td>
            <td>Peel Region Scheme amendment or lifting of urban deferred status.</td>
        </tr>
        <tr>
            <td>Structure plan / planning strategy</td>
            <td>Structure plan, outline development plan, detailed area plan, community layout plan, local planning strategy, regional planning strategy, biodiversity strategy or similar instrument.</td>
        <tr>
            <td>Subdivision</td>
            <td>Subdivision, amalgamation, built strata, survey strata, realignment of boundaries.</td>
        </tr>
        <tr>
            <td>Utilities, infrastructure & roads</td>
            <td>Power, telecommunication, water, pipeline, conveyor belt,  waste water, road, railway, airfield, fence line clearing, maintenance, road widening, and includes projects on and off DEC managed areas.</td>
        </tr>
    </tbody>
</table>
