{% extends "base_prs.html" %}
{% load static %}
{% block extra_style %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css"
          integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/3.0.2/Control.FullScreen.min.css"
          integrity="sha512-icRYRbqvwyLFADCizHy+7d4vVNnzF92F0ADsgIlPU2eegXZJ9iHtF1BMi7xdgo1lSyd0nsyI5Lvxhhlxx7WxZg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/leaflet-search.min.css' %}" />
    <style>
    #map {
        position: absolute;
        top: 76px;
        bottom: 0;
        width: 100%;
    }
    </style>
{% endblock extra_style %}
{% block breadcrumb_nav %}{% endblock %}
{% block page_content_container_extracss %}p-0{% endblock %}
{% block page_content_outer %}
    <div class="row m-0 p-0">
        <div class="col m-0 p-0">
            <div id="map"></div>
        </div>
    </div>
{% endblock page_content_outer %}
{% block page_footer %}{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"
            integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/3.0.2/Control.FullScreen.min.js"
            integrity="sha512-G3uVfdWq1gdYQ0tfaN8APmD3UBQCv0Am3csZtRdaNbCBzNgh57yu7MhgrXozjeflGsRapDpBVdrKCQahT99p0Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/3.0.2/leaflet-search.min.js"
            integrity="sha512-lmt2nQGwuhA/7xEG4KjOuzy+kBQVOgpBNFxJR2yWp8J57H8nYxWC8J7Y5woDbqBBpBVHHLbFEi503u5K49KcOA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/referral_map.js' %}"></script>
    <script>
    // Remove the lot filter control.
    lotFilter.remove();
    // Change default display layers.
    map.removeLayer(virtualMosaic);
    map.addLayer(waCoast);
    map.removeLayer(cadastre);
    map.addLayer(prsLocations)
    map.setView([-31, 118], 4);
    </script>
{% endblock extra_js %}
