{% extends "base_prs.html" %}

{% block page_content_inner %}
<h1>{{ object_type_plural|upper }}</h1>
<!-- Search bar -->
<form action="" method="get">
    <div class="row">
        <div class="hidden-xs col-sm-1">
            <label for="search_field">Search:</label>
        </div>
        <div class="col-xs-12 col-sm-11 col-md-8">
            <input id="search_field" type="text" class="form-control" name="q" placeholder="Search all text..." value="{{ query_string }}">
        </div>
    </div>
</form>
<hr>
{% if object_list %}
<h3>Search results: {{ object_count }}</h3>
{% include "referral/pagination.html" %}
<table class="table table-striped table-bordered table-sm" id="prs-object-table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include "referral/pagination.html" %}
{% endif %}
<br>
{% endblock %}
